<div class="modal fade" id="aboutContent">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h2>About this site..</h2>
			</div>
			<div class="modal-body">
				<p>This is a community driven trivia site where everyone is answering the same question at the same times.</p>
				<p>Answer before the time limit and see how you rank up with your peers.</p>
				<p>Submit your own questions and look out for them when they get randomly selected.</p>
			</div>
		</div>
	</div>
</div>